---
import "../styles/global.css";
import Card__hero from "../components/molecules/card_hero.astro";
import preview from "../assets/Videos/preview.mp4";
---

<section
	class="flex flex-col justify-between pt-24 pb-8 items-center h-screen overflow-hidden"
>
	<article class="flex flex-col items-center px-6">
		<h1
			class="flex flex-col items-center text-center gap-2 text-4xl md:text-6xl font-black text-black-500 leading-tight"
		>
			Strategic Content Multimedia <span
				class="text-4xl md:text-6xl lg:text-7xl font-bold text-brand-primary font-grassroots"
				>for Brands in Melbourne</span>
		</h1>
		
		<p class="text-center text-sm md:text-base w-full text-black-300">
			Create high-quality content for brands that want
			to stand out from the competition
		</p>
	</article>

	<article
		class="flex flex-row gap-2 md:gap-4 px-4 lg:px-10 items-end w-full justify-center h-[45vh] md:h-auto"
	>
		<Card__hero
			title="Branding"
			video={preview}
			class="hidden lg:flex w-1/5 h-[250px]"
		/>
		<Card__hero
			title="Multimedia"
			video={preview}
			class="flex w-1/3 lg:w-1/5 h-[220px] md:h-[280px]"
		/>
		<Card__hero
			title="Photography"
			video={preview}
			class="flex w-1/3 lg:w-1/5 h-[280px] md:h-[320px]"
		/>
		<Card__hero
			title="Videography"
			video={preview}
			class="flex w-1/3 lg:w-1/5 h-[220px] md:h-[280px]"
		/>
		<Card__hero
			title="Wedding"
			video={preview}
			class="hidden lg:flex w-1/5 h-[250px]"
		/>
	</article>
</section>

